<div class="item-card" (click)="onCardClick()">
  <div class="item-card-image-container">
    <img
      [src]="displayImage"
      alt="{{ item.title }}"
      class="item-card-image"
      (error)="onImageError($event)"
    />
  </div>

  <div class="item-card-content">
    <h3 class="item-card-title">{{ item.title }}</h3>

    <div class="item-card-details">
      <p class="item-card-condition">{{ conditionText }}</p>
      <p class="item-card-price">{{ item.price }} Dh</p>
    </div>

    <div class="item-card-seller-info">
      <p class="item-card-seller">
        {{ item.sellerUsername }}
        <span
          *ngIf="
            item.sellerAverageRating !== undefined &&
              item.sellerAverageRating !== null;
            else noSellerRating
          "
          class="seller-rating-info"
        >
          &nbsp;<i
            class="fas fa-star"
            style="color: #ffc107; font-size: 14px"
          ></i>
          {{ item.sellerAverageRating | number : "1.1-1" }}
          <span *ngIf="item.sellerRatingCount !== undefined">
            ({{ item.sellerRatingCount }})</span
          >
        </span>
        <ng-template #noSellerRating>
          <span class="seller-rating-info"> - </span>
        </ng-template>
      </p>
    </div>

    <div class="item-card-meta">
      <p class="item-card-views" *ngIf="item.viewCount !== undefined">
        <i class="fas fa-eye"></i> {{ item.viewCount }}
      </p>
      <p class="item-card-city" *ngIf="item.sellerCityName">
        <i class="fas fa-map-marker-alt"></i> {{ item.sellerCityName }}
      </p>
    </div>
  </div>
</div>
